html {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: rgb(27, 27, 27);
	color: white;
	font-family: "Open Sans", sans-serif;
	max-width: 800px;
	margin: 0 auto; /* better method than below */
	/* padding: 15px 25vw 15px 25vw; vw for responsive padding */
}

a {
	color: white;
}

a:visited {
	color: rgb(196, 196, 196);
}

hr {
	opacity: 20%;
	margin: 3rem 0;
}

hr.index {
	margin: 0;
}

h1 {
	background-color: rgb(51, 51, 50);
	padding: 0.5rem;
}

li {
	padding: 0.5rem;
}

img {
	max-height: 20rem;
	max-width: auto;
	margin-top: 1em;
	margin-bottom: -1em;
}

ol {
	margin-bottom: 5rem;
}

.back.block {
	display: block;
}

.top-hr {
	margin: 0.7rem 0;
}

.footer {
	padding: 0.5rem;
	margin-top: -2rem;
	margin-bottom: 0rem;
	background-color: rgb(51, 51, 50);
}

.description-image {
	display: inline-flex;
}

.description {
	margin-right: 2rem;
}

.all-ingredients {
	display: inline-flex;
}

.ingredients {
	max-width: 22rem;
	margin-right: 3rem;
}
