body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 15px 25vw 15px 25vw; /* vw for responsive padding*/
}

a:visited { /* clicked hyperlinks color */
    color: grey;
}

hr {
    opacity: 20%;
}

h1 {
    background-color: rgb(51, 51, 50);
}
